---
services:
  podgrab:
    image: toozej/podgrab
    container_name: podgrab
    environment:
      - CHECK_FREQUENCY=240
    volumes:
      - /path/to/config:/config
      - /path/to/data:/assets
    ports:
      - 8080:8080
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    read_only: true
