---
name: release

on:
  push:
    branches: [main]
    tags:
      - "v*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  # Give the workflow permission to write attestations.
  id-token: write
  attestations: write

jobs:
  code-quality:
    name: Code Quality Gate
    uses: ./.github/workflows/code-quality.yml

  tests:
    name: Unit & Integration Tests
    needs: [code-quality]
    uses: ./.github/workflows/test.yml

  e2e-tests:
    name: E2E Tests
    needs: [code-quality]
    uses: ./.github/workflows/e2e-test.yml

  goreleaser:
    needs: [tests, e2e-tests]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Fetch all tags
        run: git fetch --force --tags
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.25'
          check-latest: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3 # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
      - uses: sigstore/cosign-installer@v3 # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
      - uses: anchore/sbom-action/download-syft@v0 # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
      - name: Login to DockerHub
        uses: docker/login-action@v3 # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
        # https://docs.docker.com/docker-hub/access-tokens/
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3 # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
        # https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_GHCR_TOKEN }}
      - name: Login to Quay Container Registry
        uses: docker/login-action@v3 # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
        # https://github.com/marketplace/actions/push-to-registry#examples
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v7 # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
          workdir: '/home/runner/work/podgrab/podgrab'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAP_GITHUB_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }}
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
      # After GoReleaser runs, attest all the files in ./dist/checksums.txt:
      - uses: actions/attest-build-provenance@v3
        with:
          subject-checksums: ./dist/checksums.txt
      # After GoReleaser runs, attest all the images in ./dist/digests.txt:
      - uses: actions/attest-build-provenance@v3
        with:
          subject-checksums: ./dist/digests.txt

  verify_signed_binaries:
    runs-on: ubuntu-latest
    needs: goreleaser
    permissions: {}
    strategy:
      matrix:
        platform: ['darwin', 'linux', 'windows']
        arch: ['all', 'amd64_v1', 'arm64', 'arm_7', '386']
        extension: ['', '.exe']
    steps:
      - name: Install Cosign
        uses: sigstore/cosign-installer@main # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
      - name: Get public cosign key
        run: |
          curl --silent https://raw.githubusercontent.com/toozej/podgrab/main/podgrab.pub -O
      - name: Verify signatures of binaries
        run: |
          FILE=./dist/podgrab_${{ matrix.platform }}_${{ matrix.arch }}/podgrab${{ matrix.extension }}
          if test -f "${FILE}"; then
            echo "verifying binary: ${FILE}"
            cosign verify --key podgrab.pub --signature "${FILE}.sig" "${FILE}"
          else
            echo "skipping verifying non-existant binary: ${FILE}"
          fi

  verify_signed_archives:
    runs-on: ubuntu-latest
    needs: goreleaser
    permissions: {}
    strategy:
      matrix:
        platform: ['Darwin', 'Linux', 'Windows']
        arch: ['all', 'arm64', 'armv7', 'i386', 'x86_64']
        extension: ['tar.gz', 'zip']
    steps:
      - name: Install Cosign
        uses: sigstore/cosign-installer@main # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
      - name: Get public cosign key
        run: |
          curl --silent https://raw.githubusercontent.com/toozej/podgrab/main/podgrab.pub -O
      - name: Verify signatures of archives
        run: |
          FILE=./dist/podgrab_${{ matrix.platform }}_${{ matrix.arch }}.${{ matrix.extension }}
          if test -f "${FILE}"; then
            echo "verifying archive: ${FILE}"
            cosign verify --key podgrab.pub --signature "${FILE}.sig" "${FILE}"
          else
            echo "skipping verifying non-existant archive: ${FILE}"
          fi

  trivy-scan-image:
    name: trivy-scan-image
    needs: goreleaser
    runs-on: ubuntu-latest
    steps:
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
        with:
          image-ref: 'ghcr.io/toozej/podgrab:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

  verify_signed_docker_images:
    runs-on: ubuntu-latest
    needs: [goreleaser, trivy-scan-image]
    permissions: {}
    strategy:
      matrix:
        registry: ['', 'ghcr.io/', 'quay.io/']
        tag: ['latest', 'distroless']
    steps:
      - name: Install Cosign
        uses: sigstore/cosign-installer@main # nosemgrep: yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha
      - name: Get public cosign key for podgrab project from GitHub
        run: |
          curl --silent https://raw.githubusercontent.com/toozej/podgrab/main/podgrab.pub -O
      - name: Verify signatures of Docker images
        run: |
          cosign verify --key podgrab.pub \
            ${{ matrix.registry }}toozej/podgrab:${{ matrix.tag }}

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
