---
name: Cleanup PR Cache

on:
  pull_request:
    types: [closed]

permissions:
  actions: write

jobs:
  cleanup:
    name: Cleanup PR Caches
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cleanup PR caches
        run: |
          gh extension install actions/gh-actions-cache

          echo "Fetching list of cache keys for PR #${{ github.event.pull_request.number }}"

          cacheKeysForPR=$(gh actions-cache list -R "$REPO" -B "$BRANCH" -L 100 | cut -f 1 )

          set +e
          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR
          do
              echo "Deleting cache: $cacheKey"
              gh actions-cache delete "$cacheKey" -R "$REPO" -B "$BRANCH" --confirm
          done
          echo "Done"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          BRANCH: refs/pull/${{ github.event.pull_request.number }}/merge
